<main>
  <h1>Tom's Venn Diagrams</h1>
  <div class="diagram">
    <div class="circle">
      <h3>{{left()}}</h3>
    </div>
    <div class="circle">
      <h3>{{right()}}</h3>
    </div>
    <div class="arrow"></div>
  </div>
  <h2>{{intersection()}}</h2>
</main>

<div id="create">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Create your own!</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="form">
        <mat-form-field>
          <mat-label>Left</mat-label>
          <input matInput [(ngModel)]="left">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Right</mat-label>
          <input matInput [(ngModel)]="right">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Intersection</mat-label>
          <textarea matInput [(ngModel)]="intersection"></textarea>
        </mat-form-field>
        <button mat-raised-button (click)="share()">Share</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
